<div class="default-block marginBottom20">
    <div class="header"><h4>More social media integration coming soon.</h4></div>
    <div class="content">
        <div class="row">
            <div class="col-xs-12" style="line-height: 1.5">
                <p>You can follow us on the following Social Media platform.</p>
                <p>Twitter: <a href="https://twitter.com/PegaTrade" target="_blank">@@PegaTrade</a></p>
                <p>Facebook: <a href="https://www.facebook.com/PegaTrade/" target="_blank">@@PegaTrade</a></p>
                <p>We are still deciding whether we will join a chat based Social Media (Discord or Telegram). If you would like to see this implemented, please contact us and let us know. </p>
            </div>
        </div>
    </div>
</div>