<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <!--<aspNetCore>
      <environmentVariables xdt:Transform="Insert">
        <environmentVariable name="DOTNET_CLI_TELEMETRY_OPTOUT" value="1" />
      </environmentVariables>
    </aspNetCore>-->
    <rewrite>
      <rules>
        <rule name="Http80 to Https443" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="Redirect www to non-www" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" negate="false"></match>
          <action type="Redirect" url="https://pegatrade.com/{R:1}"></action>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^pegatrade\.com$" negate="true"></add>
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>