<div class="row">
    <div class="col-xs-12">
        <strong>Please enter the email you have used to sign up</strong>
        <p>Your password reset request will be sent to that email address.</p>
        <form id="passwordResetForm" asp-action="PasswordResetForm" asp-controller="Account" asp-antiforgery="true" onsubmit="return false">
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" />
            </div>

            <p class="text-danger" id="passwordResetErrorMessage"></p>

            <button id="passwordResetBtn" type="button" class="btn btn-aqua" onclick="app.SubmitPasswordResetForm()" data-loading-text="Please wait...">Reset</button>
            <button class="btn" data-dismiss="modal">Close</button>
        </form>
    </div>
</div>