@model PegaTrade.Layer.Models.Account.PasswordUpdateRequest
@{
    ViewData["Title"] = "Choose new password";
    Layout = "_Layout";
}

<div class="container">
    <h2 class="marginBottom40">Please choose a new password</h2>
    <form asp-action="ChooseNewResetPassword" asp-controller="Account" asp-antiforgery="true" id="chooseNewPasswordForm">
        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="row">
                <div class="form-group marginBottom20">
                    <label asp-for="Username">Username:</label> @Model.Username
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword">New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                    <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
                </div>
                <button type="button" class="btn btn-primary marginTop20" onclick="app.SubmitChooseNewPasswordForm()">Change Password</button>
            </div>
        </div>
        <input type="hidden" asp-for="Username" />
        <input type="hidden" asp-for="AuthenticationHash" />
    </form>
</div>


