@{
    ViewData["Title"] = "Legal (License Agreement)";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <h2>Legal Agreement</h2>
        <h4 style="color: #d16619">More details coming soon.</h4>
        <p>
            Full EULA (End user license agreement) is coming soon. <br>
            If you use PegaTrade, you agree to the following:
            <ul>
                <li>EVERYTHING we are providing is for EDUCATION purpose only. Nothing we say/show is financial advice. We are not financial advice givers.</li>
                <li>We encrypt (using military grade standard) and secure all personal user details such as API keys. However, in case of a hack, we are not responsible. It is your duty to make sure that the API keys are "READONLY" so if the hacker ever manages to decrypt your API keys, all they can do is access the "read" information. Basically, do not blame us if you lost your funds due to accidentally giving your generated API the "write" permission.</li>
                <li>Data/information shown (such as Profit/Loss) is not 100% accurate. These are best estimated guess based on available data.</li>
            </ul>
        </p>
        <p class="text-danger">
            If you do not agree to any of the above, please do not use PegaTrade. By using PegaTrade, we will assume you agree to the above license agreement. 
        </p>
    </div>
</div>


