@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <h2>Privacy Policy</h2>
        <h4 style="color: #d16619">More details coming soon.</h4>
        <p>
            Full Privacy Policy is coming soon. For now, please read below for general idea.<br /><br />
            
            We respect your privacy and will NEVER share any important details with anyone else, such as: email address, API keys, trades, etc. <br />
            The only way some of these can be shared is if you choose to have them publicly displayed. <br /><br />
            
            We store cookies on your browser. The ONLY reason we do this, is so you don't have to keep logging in. If we see your cookie available, we know it's you and can automatically log you in. 
        </p>
        <p class="text-danger">
            If you do not agree to any of the above, please do not use PegaTrade. By using PegaTrade, we will assume you agree to the above policy.
        </p>
    </div>
</div>

