<div class="container">
    <div class="row">
        <h2>About us</h2>
        <p>PegaTrade public beta has been released on March 5, 2018.</p>
        <p>
            PegaTrade is brought to you by <a href="https://Pegasun.com" target="_blank">Pegasun</a>. <br />
        </p>
        <p>More info will be coming soon.</p>
    </div>
</div>